.header {
    background-color: var(--main-green);

    @media (max-width: 700px) {
        padding-left: 0;
        padding-right: 0;
    }

    .headerDiv {
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: var(--max-width);
        margin: auto;
        display: flex;
        justify-content: space-between;

        @media (max-width: 700px) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

.footer {
    background-color: var(--main-green);

    .footerDiv {
        padding: 5px 3rem;
        min-height: 80px;
        max-width: var(--max-width);
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1rem;
        
        @media (max-width: 700px) {
            flex-direction: column;
            padding: 5px;
            justify-content: center;
        }
    }
}

.button {
    color: black;
    background-color: var(--main-green);
    border-color: var(--main-green);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    border: 1px solid transparent;
    font-size: 2rem;
    border-radius: .3rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.buttonLarge {
    padding: .5rem 3rem;

    @media (max-width: 700px) {
        width: 100%
    }
}

.button:hover {
    background-color: var(--lighter-green);
    border-color: var(--lighter-green);
    box-shadow: 2px 2px var(--main-blue);
}